In [1]:
import mido
import pandas
import numpy as np

In [2]:
msg_types = ['note_off', 'note_on', 'polytouch', 'control_change', 'program_change', 'aftertouch', 'pitchwheel', 'sysex', 'quarter_frame', 'songpos', 'song_select', 'tune_request', 'clock', 'start', 'continue', 'stop', 'active_sensing', 'reset']
para_types = ['channel', 'frame_type', 'frame_value', 'control', 'note', 'program', 'song', 'value', 'velocity', 'data', 'pitch', 'pos', 'time']
meta_types = ['sequence_number', 'text', 'copyright', 'track_name name', 'instrument_name', 'lyrics', 'marker', 'cue_marker', 'device_name', 'channel_prefix', 'midi_port', 'end_of_track', 'set_tempo', 'smpte_offset', 'time_signature', 'key_signature', 'sequencer_specific', 'UnknownMetaMessage']

all_types = msg_types + para_types + meta_types

In [3]:
mid_file = '/home/chief/Bitwig Studio/Projects/bossa_raw/midi_arpeggiated.mid'
mid = mido.MidiFile(mid_file)

In [4]:
mid.save('/home/chief/Bitwig Studio/Projects/bossa_raw/processed/testmido.mid')

In [5]:
# def intersection(lst1, lst2): 
#     lst3 = [value for value in lst1 if value in lst2] 
#     return lst3 

# for i, track in enumerate(mid.tracks):
#     print('Track {}: {}'.format(i, track.name))
# #     pandas.DataFrame([dict(x) for x in track])
#     for msg in track:
# #         if msg.is_meta:
#             print(msg)
# #             print(intersection(dir(msg), all_types))


# #             dict(msg)

# #         df = pd.DataFrame([x.as_dict() for x in person_list])

In [6]:
l = []
m = []
for i, track in enumerate(mid.tracks):
    for msg in track:
            l.append(vars(msg))
            m.append(msg.is_meta)
df = pandas.DataFrame(l)

In [7]:
df['meta'] = m

In [8]:
df

,type,name,time,note,velocity,channel,tempo,numerator,denominator,clocks_per_click,notated_32nd_notes_per_beat,meta
0,track_name,Drum Machine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,note_on,NaN,0,38.0,101.0,9.0,NaN,NaN,NaN,NaN,NaN,False
2,note_on,NaN,0,36.0,101.0,9.0,NaN,NaN,NaN,NaN,NaN,False
3,set_tempo,NaN,0,NaN,NaN,NaN,545454.0,NaN,NaN,NaN,NaN,True
4,time_signature,NaN,0,NaN,NaN,NaN,NaN,4.0,4.0,24.0,8.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4965,note_off,NaN,0,49.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False
4966,note_off,NaN,240,54.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False
4967,note_on,NaN,0,42.0,102.0,0.0,NaN,NaN,NaN,NaN,NaN,False
4968,note_off,NaN,39,42.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False
4969,end_of_track,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [9]:
type(mid)

mido.midifiles.midifiles.MidiFile

In [10]:
vars(mid)

{'filename': '/home/chief/Bitwig Studio/Projects/bossa_raw/midi_arpeggiated.mid',
 'type': 1,
 'ticks_per_beat': 960,
 'charset': 'latin1',
 'debug': False,
 'clip': False,
 'tracks': [<midi track 'Drum Machine' 2152 messages>,
  <midi track 'FM-4' 284 messages>,
  <midi track 'FM-4' 2534 messages>]}

In [11]:
df.query('meta').dropna(how = 'all', axis = 1)

,type,name,time,tempo,numerator,denominator,clocks_per_click,notated_32nd_notes_per_beat,meta
0,track_name,Drum Machine,0,NaN,NaN,NaN,NaN,NaN,True
3,set_tempo,NaN,0,545454.0,NaN,NaN,NaN,NaN,True
4,time_signature,NaN,0,NaN,4.0,4.0,24.0,8.0,True
2151,end_of_track,NaN,241,NaN,NaN,NaN,NaN,NaN,True
2152,track_name,FM-4,0,NaN,NaN,NaN,NaN,NaN,True
2435,end_of_track,NaN,1954,NaN,NaN,NaN,NaN,NaN,True
2436,track_name,FM-4,0,NaN,NaN,NaN,NaN,NaN,True
4969,end_of_track,NaN,202,NaN,NaN,NaN,NaN,NaN,True

In [12]:
df.query('meta').dropna(how = 'all', axis = 1)

,type,name,time,tempo,numerator,denominator,clocks_per_click,notated_32nd_notes_per_beat,meta
0,track_name,Drum Machine,0,NaN,NaN,NaN,NaN,NaN,True
3,set_tempo,NaN,0,545454.0,NaN,NaN,NaN,NaN,True
4,time_signature,NaN,0,NaN,4.0,4.0,24.0,8.0,True
2151,end_of_track,NaN,241,NaN,NaN,NaN,NaN,NaN,True
2152,track_name,FM-4,0,NaN,NaN,NaN,NaN,NaN,True
2435,end_of_track,NaN,1954,NaN,NaN,NaN,NaN,NaN,True
2436,track_name,FM-4,0,NaN,NaN,NaN,NaN,NaN,True
4969,end_of_track,NaN,202,NaN,NaN,NaN,NaN,NaN,True

In [13]:
df.query('not meta').dropna(how = 'all', axis = 1)

          type  time  note  velocity  channel   meta
1      note_on     0  38.0     101.0      9.0  False
2      note_on     0  36.0     101.0      9.0  False
5     note_off   240  38.0     101.0      9.0  False
6     note_off     0  36.0     101.0      9.0  False
7      note_on  1200  38.0     101.0      9.0  False
...        ...   ...   ...       ...      ...    ...
4964   note_on   240  54.0     102.0      0.0  False
4965  note_off     0  49.0      64.0      0.0  False
4966  note_off   240  54.0      64.0      0.0  False
4967   note_on     0  42.0     102.0      0.0  False
4968  note_off    39  42.0      64.0      0.0  False

[4962 rows x 6 columns]

In [14]:
df['i_track'] = np.cumsum(df['type'].str.contains('track_name'))
df

,type,name,time,note,velocity,channel,tempo,numerator,denominator,clocks_per_click,notated_32nd_notes_per_beat,meta,i_track
0,track_name,Drum Machine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,1
1,note_on,NaN,0,38.0,101.0,9.0,NaN,NaN,NaN,NaN,NaN,False,1
2,note_on,NaN,0,36.0,101.0,9.0,NaN,NaN,NaN,NaN,NaN,False,1
3,set_tempo,NaN,0,NaN,NaN,NaN,545454.0,NaN,NaN,NaN,NaN,True,1
4,time_signature,NaN,0,NaN,NaN,NaN,NaN,4.0,4.0,24.0,8.0,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,note_off,NaN,0,49.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False,3
4966,note_off,NaN,240,54.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False,3
4967,note_on,NaN,0,42.0,102.0,0.0,NaN,NaN,NaN,NaN,NaN,False,3
4968,note_off,NaN,39,42.0,64.0,0.0,NaN,NaN,NaN,NaN,NaN,False,3
4969,end_of_track,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,3

In [15]:
# note_fields = ['type', 'channel', 'note', 'time', 'velocity']
# pandas.DataFrame([{fn: getattr(f, fn) for fn in note_fields} for f in mid if not f.is_meta])

In [16]:
mido.get_output_names()

['Midi Through:Midi Through Port-0 14:0',
 'TiMidity:TiMidity port 0 128:0',
 'TiMidity:TiMidity port 1 128:1',
 'TiMidity:TiMidity port 2 128:2',
 'TiMidity:TiMidity port 3 128:3']

In [17]:
# for msg in mid:
#     time.sleep(msg.time)
#     if not msg.is_meta:
#         port.send(msg)

In [18]:
mid.length

211.1912660812442

In [19]:
type(mid.tracks[0][1])

mido.messages.messages.Message

In [22]:
from mido import MetaMessage, Message, MidiFile, MidiTrack

# notes = [64, 64+7, 64+12]

outfile = MidiFile(ticks_per_beat=mid.ticks_per_beat)


# track.append(Message('program_change', program=12))

delta = 1600
for i in range(len(df)):
    # meta messages:
    if df.loc[i, 'type'] == 'track_name':
        track = MidiTrack()
        outfile.tracks.append(track)
    elif df.loc[i, 'type'] == 'set_tempo':
        track.append(MetaMessage('set_tempo', tempo = df.loc[i, 'tempo'].astype(int)))
    elif df.loc[i, 'type'] == 'time_signature':
        track.append(MetaMessage('time_signature',
                             numerator = df.loc[i, 'numerator'].astype(int), 
                             denominator = df.loc[i, 'denominator'].astype(int)))#, 
#                              clocks_per_click = df.loc[i, 'clocks_per_click'], 
#                              notated_32nd_notes_per_beat = df.loc(i, 'notated_32nd_notes_per_beat')))
    elif df.loc[i, 'type'] == 'note_on':
        track.append(Message('note_on', 
                             note=df.loc[i, 'note'].astype(int), 
                             velocity=df.loc[i, 'velocity'].astype(int), 
                             channel=df.loc[i, 'channel'].astype(int), 
                             time=df.loc[i, 'time'].astype(int)))
    elif df.loc[i, 'type'] == 'note_off':
        track.append(Message('note_off', 
                             note=df.loc[i, 'note'].astype(int), 
                             velocity=df.loc[i, 'velocity'].astype(int), 
                             time=df.loc[i, 'time'].astype(int)))
        
# outfile.save('test.mid')

In [26]:
%run '/home/chief/pyrmusic/python/py/py_funs.py'
outfile = df2mido_midifile(df, mid.ticks_per_beat)

In [28]:
outfile.save('test.mid')