# MidiFrame class

Read in the test midi file from the package

In [1]:
import miditapyr

In [2]:
test_mid = miditapyr.get_test_midi_file(as_string=True)

Define function to manipulate the volume of the notes

In [12]:
def mod_fun(df):
    df['velocity'][df['velocity'] >= 0] = 127
    return df

In [13]:
mf = miditapyr.MidiFrame(test_mid, mod_fun=mod_fun, out_file_string="test_out_file.mid")

<ipython-input-12-0380c315f0aa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['velocity'][df['velocity'] >= 0] = 127

Look at one of the intermiate results

In [11]:

mf.midi_frame_tidy

,i_track,meta,type,name,time,note,velocity,channel,tempo,numerator,denominator,clocks_per_click,notated_32nd_notes_per_beat
0,0,True,track_name,drum-t1-1-t1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,False,note_on,NaN,0,43.0,72.0,9.0,NaN,NaN,NaN,NaN,NaN
2,0,False,note_on,NaN,0,39.0,64.0,9.0,NaN,NaN,NaN,NaN,NaN
3,0,False,note_on,NaN,0,36.0,101.0,9.0,NaN,NaN,NaN,NaN,NaN
4,0,True,set_tempo,NaN,0,NaN,NaN,NaN,666666.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2,False,note_off,NaN,31,59.0,57.0,15.0,NaN,NaN,NaN,NaN,NaN
264,2,False,note_off,NaN,9,67.0,57.0,15.0,NaN,NaN,NaN,NaN,NaN
265,2,False,note_on,NaN,266,62.0,82.0,15.0,NaN,NaN,NaN,NaN,NaN
266,2,False,note_off,NaN,5,62.0,82.0,15.0,NaN,NaN,NaN,NaN,NaN
267,2,True,end_of_track,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN